<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>

}
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
    <hr />
    
    <h2> Sparse regularization methods in ultrasound imaging </h2>
    <img class="res" src="{{ site.url }}/images/Research/carotid_our_reconstruction.png alt="Sparse regularization" width="230" height="150" style="align:middle" />
    <img class="res" src="{{ site.url }}/images/Research/carotid_reconstruction_classic.png alt="Classical method" width="230" height="150" />
    <p class="div"> Ultrasound imaging is the most-used medical imaging modality thanks to its non-invasiveness and real-time capability. In terms of acoustic wave propagation, ultrasound imaging poses an inverse problem which relates the Radio-Frequency image (desired image) and the backscattered echoes (the measurements). Current imaging methods are based on a well-known algorithm called Delay-and-sum (DAS). The major advantage of DAS is that it is fast and highly parallelizable. Its main drawback is that it is an inaccurate solution of the inverse problem which leads to low-quality images. During my PhD, I have developed an alternative of DAS. The technique formulates the measurement model of the propagation and relies on prior sparsity constraints for forming high-quality images.
    <br> The approach is used for two main purposes:

    <ul>
    	<li>Image quality enhancement: The method leads to a dramatic increase of the image contrast compared to classical DAS. </li>

    	<li> Compressed beamforming: The method is compatible with the compressed-sensing framework and can be used to reconstruct high quality images under few noisy measurements. </li>
    </p>

    <hr />

    <h2> Through-the-skull ultrasound imaging </h2>

    <hr />

    <h2> Deep-learning and compressed-sensing </h2>

    <hr />

    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
